<body>
    <h1>Editing Book</h1>
<%= form_with model: @book,  method: :patch do |f| %>
  <label for="book_title">Title</label>
  <div><%= f.text_field :title %></div>

  <label for="book_body">Body</label>
  <div><%= f.text_area :body %></div>

  <div class="actions">
    <input type="submit" name="commit" value="Update Book" data-disable-with="Update Book">
  </div>

<%= link_to "Show", book_path(@book.id) %>
|
<%= link_to "Back", books_path %>

<% end %>

</body>
